{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fontawesome-free/js/all.min.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>

</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <center style="margin-top:25px;"><h1>Available Groups</h1></center>
            <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ui class="contacts">
                    {% if groups %}
                        {% for group in groups %}                    
                            <li class="active">
                                <a href="{{group.get_absolute_url}}" class="d-flex bd-highlight" style="text-decoration: none;">
                                    <div class="img_cont">
                                        <img src="{{ group.icon.url }}" class="rounded-circle user_img">
                                    </div>
                                    <div class="user_info">
                                        <span>{{ group.name|title }}</span>
                                        <p>{{ group.description }}</p>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>
                            <div class="d-flex bd-highlight">
                                <div class="user_info">
                                    <span><marquee>No Groups Available</marquee></span>
                                </div>
                            </div>
                        </li>
                    {% endif %}

                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

</body>
</html>